
@{
    ViewBag.Title = "About";
}

<!-- ======== Region: #content ======== -->
<div id="content">
    <div class="container" id="about">
        <div class="row">
            <!-- sidebar -->
            <div class="col-md-3 sidebar">

                <!-- Sections Menu-->
                <div class="section-menu">
                    <ul class="nav nav-list">
                        <li class="nav-header">In This Section</li>
                        <li class="active">
                            <a href="@Url.Action("About","Home")" class="first">
                                About Us
                                <small>Basic Version</small>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Contact","Home")">
                                Contact Us
                                <small>How to get in touch</small>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--main content-->
            <div class="col-md-9">
                <h2 class="title-divider">
                    <span>About <span class="de-em">Us</span></span>
                    <small>What & who makes us tick!</small>
                </h2>

                <!-- About company -->
                <h4>
                    How It All Began
                </h4>
                <p>Acsi adipiscing elit hendrerit immitto interdico quae sit utinam vindico. Aliquam defui esca gilvus paratus pertineo sudo te.</p>
                <p>Damnum et ibidem neo utinam uxor voco vulputate. Distineo esse ludus melior pagus. Eros hendrerit quadrum valde. Aliquam augue consectetuer genitus ille iustum melior persto veniam wisi. Blandit erat gilvus incassum ratis secundum suscipit valetudo. Autem feugiat imputo inhibeo luctus macto nimis. Appellatio augue gravis ille immitto inhibeo quae ut utrum. Abdo aliquam luctus melior nostrud qui quidem sudo. Jus modo nulla. Abico lobortis tincidunt.</p>
                <p>Dignissim eum feugiat jugis proprius. Abdo exerci gilvus in iusto jumentum minim molior nunc. Abigo comis consectetuer illum minim molior nutus occuro quidem ullamcorper. Gemino metuo mos natu nibh.</p>
                <h4 class="margin-top-large">
                    Our Philosophy
                </h4>
                <p>Camur inhibeo letalis nulla qui. Abdo eu lucidus obruo pala pecus plaga. Exputo luptatum si sudo.</p>
                <p>Bene capto causa lenis macto minim. Distineo gemino haero huic paulatim valde. Adipiscing duis euismod in jumentum premo similis uxor valetudo volutpat. Hos illum nutus quia refero tamen valetudo vel. Accumsan dignissim iaceo persto similis tamen. Abigo jus oppeto quia scisco tamen vicis. Autem dignissim ille quidem si. Dolus eros loquor obruo pagus populus refoveo secundum turpis vulpes. Camur duis gravis neque occuro. Laoreet macto quidem vero vicis.</p>
                <p>Dolus exerci gilvus magna minim quadrum qui utrum vicis. Acsi incassum iusto jus scisco velit. Acsi ex genitus hos similis tamen validus venio. Aliquam elit erat et illum odio ullamcorper.</p>

                <div class="title-divider margin-top-large" id="stats">
                    <h3>
                        <span>Vital <span class="de-em">Stats</span></span>
                        <small>Stats to impress!</small>
                    </h3>
                </div>
                <div class="row stats">
                    <div class="col-md-3 stat">
                        <div class="well">1280</div>
                        <small>Happpy Customers</small>
                    </div>
                    <div class="col-md-3 stat">
                        <div class="well">1634</div>
                        <small>GB Transfered</small>
                    </div>
                    <div class="col-md-3 stat">
                        <div class="well">2143</div>
                        <small>Bugs Fixed</small>
                    </div>
                    <div class="col-md-3 stat">
                        <div class="well">12</div>
                        <small>Share Holders</small>
                    </div>
                </div>

                <!--Customer testimonial-->
                <div class="testimonials margin-top-large margin-bottom-large" id="testimonials">
                    <h3 class="title-divider">
                        <span>Highly <span class="de-em">Recommended</span></span>
                        <small>99% of our customers recommend us!</small>
                    </h3>
                    <div class="row">
                        <div class="col-md-4">
                            <blockquote>
                                <p>"It's totally awesome, we're could imagine life without it!"</p>
                                <footer>
                                    <img src="~/Content/img/team/jimi.jpg" alt="Jimi Bloggs" class="img-circle" />
                                    Jimi Bloggs <span class="spacer">/</span> <a href="#">mrjimi</a>
                                </footer>
                            </blockquote>
                        </div>
                        <div class="col-md-4">
                            <blockquote>
                                <p>"10 out of 10, highly recommended!"</p>
                                <footer>
                                    <img src="~/Content/img/team/steve.jpg" alt="Steve Bloggs" class="img-circle" />
                                    Steve <span class="spacer">/</span> <a href="#">Founder of Apple</a>
                                </footer>
                            </blockquote>
                        </div>
                        <div class="col-md-4">
                            <blockquote>
                                <p>"Our productivity & sales are up! Couldn't be happier!"</p>
                                <footer>
                                    <img src="~/Content/img/team/adele.jpg" alt="Adele Bloggs" class="img-circle" />
                                    Adele Bloggs <span class="spacer">/</span> <a href="#">iamadele</a>
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ======== Region: #content-below ======== -->
<div id="content-below" class="wrapper">
    <div class="container">
        <div class="row">
            <div class="upsell">
                <small class="muted">99.9% Uptime <span class="spacer">//</span> Free upgrade assistence <span class="spacer">//</span> 24/7 Support <span class="spacer">//</span> Plans from $19.99/month <span class="spacer">//</span> </small>
                <a href="pricing.htm" class="btn btn-primary">Start your Free Trial Today! <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>