
@{
    ViewBag.Title = "Details";
}
<div id="content">
    <div class="container">
        <h2>Details</h2>

        <p>
            <strong>Making your booking</strong> The first named person on the booking (the "party leader") must be authorised to make the booking on the basis of these booking conditions by all persons named on the booking and by their parent or guardian for all party members who are under 18 when the booking is made. By submitting the booking to us the party leader confirms that he/she is so authorised. The party leader is responsible for making all payments due to us. The party leader must be at least 18 when the booking is made.
        </p>
        <p>
            <strong>Payment</strong> Full payment is required at the time of booking. If full payment is not received at the time of booking, we have the right to treat your booking as cancelled by you. In this case, the cancellation charges set out below will be payable.
        </p>
        <p>
            <strong>Booking Confirmation</strong> Subject to the availability of your chosen arrangements and receipt of all applicable payments, we will confirm your booking by issuing a confirmation invoice. This invoice will be sent to the party leader. Please check this invoice carefully as soon as you receive it. Contact us immediately if any information which appears on the confirmation or any other document appears to be incorrect or incomplete as it may not be possible to make changes later.
        </p>
        <p>
            <strong>Your contract</strong> A binding contract between us comes into existence when we despatch our confirmation invoice to the party leader . We both agree that English Law (and no other) will apply to your contract and to any dispute, claim or other matter of any description which arises between us (except as set out below). We both also agree that any dispute, claim or other matter of any description (and whether or not involving any personal injury) which arises between us must be dealt with by the Courts of England and Wales only unless, in the case of Court proceedings, you live in Scotland or Northern Ireland. In this case, proceedings must either be brought in the Courts of your home country or those of England and Wales. If proceedings are brought in Scotland or Northern Ireland, you may choose to have your contract and any dispute, claim or other matter of any description which arises between us governed by the law of Scotland/Northern Ireland as applicable (but if you do not so choose, English law will apply).
        </p>
        <p>
            <strong>Special Requests</strong> If you have any special request, you must advise us at the time of booking. Although we will endeavour to pass any reasonable requests on to the relevant supplier, we regret we cannot guarantee any request will be met. Confirmation that a special request has been noted or passed on to the supplier or the inclusion of the special request on your confirmation invoice or any other documentation is not confirmation that the request will be met. Unless and until specifically confirmed, all special requests are subject to availability. For your own protection, you should obtain confirmation in writing that a special request will be complied (where it is possible to give this) where it is important to you.
        </p>
        <p>
            If you or any member of your party has any medical condition or disability which may affect your arrangements or has any special requirements as a result of any medical condition or disability (including any which affect the booking process), please tell us before you confirm your booking so that we can assist you in considering the suitability of the arrangements and/or making the booking. In any event, you must give us full details in writing at the time of booking and whenever any change in the condition or disability occurs. You must also promptly advise us if any medical condition or disability which may affect your arrangements develops after your booking has been confirmed. If we reasonably feel unable to properly accommodate the particular needs of the person concerned, we must reserve the right to decline their reservation or, if full details are not given at the time of booking or the condition / disability develops after booking, cancel when we become aware of these details.
        </p>
        <p>
            <strong>Website Prices</strong> Please note, changes and errors occasionally occur. You must check the price of your chosen arrangements at the time of booking. The prices on our website change from time to time due to movements in exchange rates and other factors. Subject to the correction of errors however we guarantee that the price quoted on your booking confirmation will not change unless you make an amendment to the booking details.
        </p>
        <p>
            <strong>Issue of Tickets</strong> Your vouchers will be emailed to you immediately after booking (certain exclusions apply). Full instructions will be given with the voucher as to how they should be redeemed.
        </p>
        <p>
            <strong>Alterations and Cancellations by you</strong> If you wish to amend your booking once it has been confirmed please contact as soon as possible. Please note it may not always be possible to make amendments. Where it is possible to do so an administration fee of £10 per amendment will be charged together with any costs incurred or imposed by any of our suppliers in making the change. An amended voucher (where applicable) will be issued to you. The original voucher will then become invalid and should be destroyed. No refunds will be payable if the original voucher and not the reissued one is redeemed at the attraction concerned. If we have paid you a refund in respect of the amendment and you subsequently manage to use the original voucher you will be responsible for paying that refund back to us. To cancel a booking, please contact us via telephone or email. We will then issue you with a cancellation invoice. The cancellation will only take effect from the date that we issue our cancellation invoice. If you cancel your booking but then somehow manage to redeem the original voucher you will be responsible for reimbursing us for the full cost of the voucher. The cancellation charges set out below apply on cancellation. Where the cancellation charge is shown as a percentage, this is calculated on the basis of the total cost payable by the person(s) cancelling excluding amendment charges. Amendment charges are not refundable in the event of cancellation.
        </p>
    </div>
</div>