
@{
    ViewBag.Title = "Favourites";
}

@section styles{
    <link href="~/Content/plugins/slick-1.6.0/slick/slick.css" rel="stylesheet" />
    <link href="~/Content/plugins/slick-1.6.0/slick/slick-theme.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Content/plugins/angular-toastr/angular-toastr.tpls.min.js"></script>
    <script src="~/Scripts/js/FeaturedController.js"></script>
    <script src="~/Content/plugins/slick-1.6.0/slick/slick.js"></script>
    <script src="~/Content/plugins/angular-slick/slick.js"></script>
}

<div>
    <!-- ======== Region: #content ======== -->
    <div id="content">
        <div class="container">
            <!-- Featured Attractions -->
            <div class="block features">
                <h2 class="title-divider">
                    <span>Featured <span class="de-em">Attractions</span></span>
                    <small>Click on attraction for more information</small>
                </h2>

                @Html.Partial("~/Views/Shared/_FeaturedAttractions.cshtml")
            </div>
        </div>

        <div>@{ Html.RenderPartial("../Partial/_Banner");}</div>

        <div class="container">
            <!-- 'All' Attractions -->
            <div class="block">
                <h2 class="title-divider">
                    <span>All: <span class="de-em">Attractions</span></span>
                    <small>Great savings on hundreds of attractions Worldwide</small>
                </h2>


                <div class="no-favourites" ng-hide="Favourites.length">
                    <span class="alert alert-info">
                        No favourites currently selected - Please add favourites.
                        <a href='@Url.Action("Index", "Home")'><i class="fa fa-home"></i> Click here to go back.</a>
                    </span>
                </div>

                <div ng-repeat="attraction in Favourites">
                    <div class="col-md-3 pricing-stack">
                        <div ng-class="$index%2==0 ? 'well active' : 'well'">
                            <span class="add"><i class="fa fa-close" title="Add to Favourites" ng-click="removeFromFavourites(attraction.id)"></i></span>
                            <h3 class="title">
                                <span class="em">{{attraction.title}}</span> <span class="fancy">{{attraction.type}}</span>
                            </h3>
                            <img ng-src="{{attraction.imageUrl}}"/>
                            <ul class="unstyled points">
                                <li>5 star hotels</li>
                                <li>River Cruise</li>
                                <li>Sight Seeing {{$index}}</li>
                            </ul>
                            <p class="price">
                                <span class="currency">£</span>
                                <span class="digits">{{attraction.price}}</span>
                            </p>
                            <a href="@Url.Action("Details", "Home")" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="text-center">
                <ul class="pagination">
                    <li class="disabled"><a href="#">«</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- ======== Region: #content-below ======== -->
<div id="content-below" class="wrapper">
    <div class="container">
        <div class="row">
            <div class="upsell">
                <small class="muted">90 day money back guarantee <span class="spacer">//</span> 24/7 telephone support <span class="spacer">//</span> FREE Insurance <span class="spacer">//</span> Family Discount <span class="spacer">//</span> Online Assistance </small>
                <a href="@Url.Action("Details", "Home")" class="btn btn-primary">Book your trip Today! <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>