
@{
    ViewBag.Title = "Index";
}

@section styles{
    <link href="~/Content/plugins/slick-1.6.0/slick/slick.css" rel="stylesheet"/>
    <link href="~/Content/plugins/slick-1.6.0/slick/slick-theme.css" rel="stylesheet"/>
}

@section scripts{
    <script src="~/Scripts/js/FeaturedController.js"></script>
    <script src="~/Content/plugins/slick-1.6.0/slick/slick.js"></script>
    <script src="~/Content/plugins/angular-slick/slick.js"></script>
}

<div>
    <!-- ======== Region: #content ======== -->
    <div id="content">
        <div class="container">
            <!-- Featured Attractions -->
            <div class="block features">
                <h2 class="title-divider">
                    <span>Featured <span class="de-em">Attractions</span></span>
                    <small>Click on attraction for more information</small>
                </h2>

                <!-- ======== SLICK SLIDER ======== -->
                <div ng-controller="FeaturedController">
                    <div ng-if="Featured && slickReady">
                        <slick class="slider" infinite="true" slides-to-show="4" slides-to-scroll="4" dots="true" responsive="breakpoints" init-onload="true" data="Featured">
                            <div ng-repeat="feature in Featured">
                                <div>
                                    <h3 class="text-center">{{feature.title}}</h3>
                                    <a href="@Url.Action("Details", "Home")"><img ng-src="{{feature.imageUrl}}" /></a>
                                </div>
                            </div>
                        </slick>
                    </div>
                </div>
            </div>
        </div>

        <div>@{ Html.RenderPartial("../Partial/_Banner");}</div>

        <div class="container">
            <!-- 'All' Attractions -->
            <div class="block">
                <h2 class="title-divider">
                    <span ng-model="Continent">{{Continent}} <span class="de-em">Attractions</span></span>
                    <small>Great savings on hundreds of attractions Worldwide</small>
                </h2>

                <div id="searchBar">
                    <h4>Filter & Sort: <span class="small">(Showing {{Attractions.length}} of {{totalAttractions}} Attractions)</span></h4>
                    <div class="col col-md-4">
                        <div class="form-group">
                            <label for="select1">Order Attractions by:</label>
                            <select class="form-control" id="select1" ng-model="sortOrder">
                                <option value="+title">Title</option>
                                <option value="-title">Title Desc</option>
                                <option value="+price">Price Asc</option>
                                <option value="-price">Price Desc</option>
                                <option value="+country">Country</option>
                            </select>
                        </div>
                    </div>

                    <div class="col col-md-8">
                        <div class="form-group">
                            <label for="radio1">Filter Attractions in:</label>
                            <div class="form-control" id="radio1">
                                <label class="radio-inline"><input type="radio" name="optradio" ng-change="filterAttractionsByContinent('All')" ng-model="Continent" value="All"/> ALL </label>
                                <label class="radio-inline"><input type="radio" name="optradio" ng-change="filterAttractionsByContinent('Africa')" ng-model="Continent" value="Africa"/> Africa </label>
                                <label class="radio-inline"><input type="radio" name="optradio" ng-change="filterAttractionsByContinent('Asia')" ng-model="Continent" value="Asia"/> Asia </label>
                                <label class="radio-inline"><input type="radio" name="optradio" ng-change="filterAttractionsByContinent('Australia')" ng-model="Continent" value="Australia" /> Australia </label>
                                <label class="radio-inline"><input type="radio" name="optradio" ng-change="filterAttractionsByContinent('Europe')" ng-model="Continent" value="Europe"/> Europe </label>
                                <label class="radio-inline"><input type="radio" name="optradio" ng-change="filterAttractionsByContinent('North America')" ng-model="Continent" value="North America"/> North America </label>
                                <label class="radio-inline"><input type="radio" name="optradio" ng-change="filterAttractionsByContinent('South America')" ng-model="Continent" value="South America" /> South America </label>
                            </div>
                        </div>
                    </div>

                </div>   

                <div ng-repeat="attraction in Attractions | orderBy:sortOrder">
                    <div class="col-md-3 pricing-stack">
                        <div ng-class="$index%2==0 ? 'well active' : 'well'">
                            <span class="add"><i class="fa fa-plus-square" title="Add to Favourites" ng-click="addToFavourites(attraction.id)"></i></span>
                            <h3 class="title">
                                <span class="em">{{attraction.title}}</span> <span class="fancy">{{attraction.type}}</span>
                            </h3>
                            <img ng-src="{{attraction.imageUrl}}" />
                            <ul class="unstyled points">
                                <li>5 star hotels</li>
                                <li>River Cruise</li>
                                <li>Sight Seeing {{$index}}</li>
                            </ul>
                            <p class="price">
                                <span class="currency">£</span>
                                <span class="digits">{{attraction.price}}</span>
                            </p>
                            <a href="@Url.Action("Details", "Home")" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="text-center">
                <ul class="pagination">
                    <li class="disabled"><a href="#">«</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- ======== Region: #content-below ======== -->
<div id="content-below" class="wrapper">
    <div class="container">
        <div class="row">
            <div class="upsell">
                <small class="muted">90 day money back guarantee <span class="spacer">//</span> 24/7 telephone support <span class="spacer">//</span> FREE Insurance <span class="spacer">//</span> Family Discount <span class="spacer">//</span> Online Assistance </small>
                <a href="@Url.Action("Details", "Home")" class="btn btn-primary">Book your trip Today! <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>