<div id="searchBar">
    <h4>Filter & Sort: <span class="small">(Showing {{Attractions.length}} of {{totalAttractions}} Attractions)</span></h4>
    <div class="col col-md-4">
        <div class="form-group">
            <label for="select1">Order Attractions by:</label>
            <select class="form-control" id="select1" ng-model="sortOrder">
                <option value="+title">Title</option>
                <option value="-title">Title Desc</option>
                <option value="+price">Price Asc</option>
                <option value="-price">Price Desc</option>
                <option value="+country">Country</option>
            </select>
        </div>
    </div>

    <div class="col col-md-8">
        <div class="form-group">
            <label for="radio1">Filter Attractions in:</label>
            <div class="form-control" id="radio1">
                <label class="radio-inline"><input type="radio" name="optradio" ng-change="filterAttractionsByContinent('All')" ng-model="Continent" value="All" /> ALL </label>
                <label class="radio-inline"><input type="radio" name="optradio" ng-change="filterAttractionsByContinent('Africa')" ng-model="Continent" value="Africa" /> Africa </label>
                <label class="radio-inline"><input type="radio" name="optradio" ng-change="filterAttractionsByContinent('Asia')" ng-model="Continent" value="Asia" /> Asia </label>
                <label class="radio-inline"><input type="radio" name="optradio" ng-change="filterAttractionsByContinent('Australia')" ng-model="Continent" value="Australia" /> Australia </label>
                <label class="radio-inline"><input type="radio" name="optradio" ng-change="filterAttractionsByContinent('Europe')" ng-model="Continent" value="Europe" /> Europe </label>
                <label class="radio-inline"><input type="radio" name="optradio" ng-change="filterAttractionsByContinent('North America')" ng-model="Continent" value="North America" /> North America </label>
                <label class="radio-inline"><input type="radio" name="optradio" ng-change="filterAttractionsByContinent('South America')" ng-model="Continent" value="South America" /> South America </label>
            </div>
        </div>
    </div>
</div>