
<!-- Banner - Attraction features -->
<div class="banner">
    <div class="well well-sm text-center">
        <h4 class="inline-el pad-right">
            <span>All Packages <span class="de-em">Include</span>:</span>
        </h4>
        <p class="inline-el pad-left muted">
            90 day money back guarantee <span class="spacer">//</span> 24/7 telephone support <span class="spacer">//</span> FREE Insurance <span class="spacer">//</span> Family Discount <span class="spacer">//</span> Online Assistance
        </p>
    </div>
</div>